@using G8InstaDev.Models
@{
    ViewData["Title"] = "Home Page";
}


<link rel="stylesheet" href="../wwwroot/css/style.css"/>
<link rel="stylesheet" href="../InstaDevFront/Feed/css/style.css">



<section class="storys content flex-bt-center">
    <div class="barra">
        <div class="fotoUM">
            <img src="imgs/storys/vin-diesel 1.png" alt="foto do usuário" class="foto-story">
            <br>
            <img src="imgs/storys/vin_diesel.png" alt="Nome do usuario" class="espacamento">
        </div>

        <div class="fotoDOIS">
            <img src="imgs/storys/gabigordo 1.png" alt="foto do usuário" class="foto-story">
            <br>
            <img src="imgs/storys/gabigordo.png" alt="Nome do usuario" class="espacamento">
        </div>

        <div class="fotoTRES">
            <img src="imgs/storys/will-baiano 1.png" alt="foto do usuário" class="foto-story">
            <br>
            <img src="imgs/storys/will_baiano.png" alt="Nome do usuario" class="espacamento">
        </div>

        <div class="fotoQUATRO">
            <img src="imgs/storys/tony_stark 1.png" alt="foto do usuário" class="foto-story">
            <br>
            <img src="imgs/storys/adriano_stark.png" alt="Nome do usuario" class="espacamento">
        </div>

        <div class="fotoCINCO">
            <img src="imgs/storys/pele 1.png" alt="foto do usuário" class="foto-story">
            <br>
            <img src="imgs/storys/king_pele.png" alt="Nome do usuario" class="espacamento">
        </div>

        <div class="fotoSEIS">
            <img src="imgs/storys/samuel-rosa-bebê 1.png" alt="foto do usuário" class="foto-story">
            <br>
            <img src="imgs/storys/samuel_rosa.png" alt="Nome do usuario" class="espacamento">
        </div>

        <div class="fotoSETE">
            <img src="imgs/storys/chaves_metal 1.png" alt="foto do usuário" class="foto-story">
            <br>
            <img src="imgs/storys/chaves_metal.png" alt="Nome do usuario" class="espacamento">
        </div>
    </div>
</section>


<div class="fotoUSUARIO">
    <a href="../Perfil/Index.html"><img src="imgs/storys/thank-you 2.png" alt="foto de perfil do usuario logado"
            class="descida"></a>
    <p class="sobe">@ViewBag.NomeUsuario</p>
    <br>
    <p class="espacao">@ViewBag.NomeCompleto</p>
</div>

<section class="postar flex-bt-center content">
    <div class="retangulo">
        <div class="imagem-postar">
            @* <p>@ViewBag.NomeUsuario</p>
            <p class="espaco">@ViewBag.NomeCompleto</p> *@
        </div>


        <form method="POST" class="post" action='@Url.Action("Cadastrar")' enctype="multipart/form-data">

            <input type="text" placeholder="Digite a descrição da imagem..." class="descricaoImagem" name="Legenda">

            <label for="arquivo">Escolha a imagem</label>
            <input type="file" name="Imagem" id="arquivo" />

            <button class="btnpostar" type="submit"> Postar </button>
        </form>

</section>
@foreach (Publicacao feed in ViewBag.Feeds)
{
    <section class="postAdicionado flex-bt-center content">
        <div class="card">
            <div class="perfil">
                <img class="foto-perfil" src="imgs/postAdicionado/@feed.FotoUsuario" alt="Foto de perfil do usuário">
                <a asp-area="Link para excluir uma publicacao" asp-controller="Home" asp-action="Excluir"
                    asp-route-id="@feed.IdPublicacao"><img src="imgs/lixo.png" alt="Lixeira" class="lixo"></a>
                <img src="/img/Feed/@feed.Imagem" alt="Imagem do post @feed.Legenda" width="400">
            </div>

            <div class="icones">
                <img id="imagem_curtida" src="imgs/postAdicionado/Vector.png" alt="icone curtida">
                <img src="imgs/postAdicionado/Vector (1).png" alt="icone comentario" class="comentario">
                <input type="text" placeholder="Comentar..." class="comentario">
            </div>
            <div class="comentario-adicionado">
                <p class="texto-comentario"><b> @feed.NomeUsuario </b>@feed.Legenda</p>
            </div>
        </div>
    </section>
}
